*{
    margin: 0%;
    padding: 0%;
}
.container{
    background-color: green;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mycard{
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 0.7em 0.7em 1em black;
}

.suits{
    font-size: 100px;
    padding-left: 15px;
}

.number{
   font-size: 130px;
   margin-top: 40px;
   margin-bottom: 40px;
   text-align: center;
   font-family: 'Cinzel Decorative', cursive;
}

.suit-bottom{
    transform: rotate(180deg);
    margin-top: 65px;
}

.suit-top{}


